*{
    font-size: 18px;
}
.btn{
    background-color: black;
    color: white;
    border-radius: 2rem;
    font-size: 0.7rem;
    height: 2rem;
    position: relative;
    width: 9rem;
    /*  */
    
}
.btn2{
    background-color: white;
    color: black;
    border-radius: 2rem;
    font-size: 0.7rem;
    height: 2rem;
    position: relative;
    width: 9rem;
    /*  */
}

.uil-search{
    
    position: absolute;
    margin-left: 1.8rem;
    z-index: 2;
    margin-top: 0.5rem;
}

.searchbox{
    border-radius: 1.5rem;
    border:0.05rem solid black;
    height: 1.5rem;
    margin-left: 1.5rem;
    position: relative;
    padding-left: 1.5rem;
    z-index: 1;
    
   
}
.head{
    text-align: center;
    
}

.sec2{
   
    height: 20rem;
    position: relative;
    
    
    display: flex;
    justify-content: space-evenly;
    /* align-self: center; */
    align-items: center;
    /* padding: 1.8rem; */
   
    
}
.head::before{
    content: '';
    background-image: url('images/images.jpg');
    
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    opacity: 0.25;
    height: 24.3rem;
    
}
#btn3{
    margin-left: 20%;
    margin-top: 5%;
}
.secside1{
    margin-top: 27.7rem;
    width: 50%;
    
    border: 0.05rem solid orange;
    
}
.secside2{
    display: flex;
    
    margin-left: 5.5rem;

}
.secside2>img{
    height: 480px;
    margin-top: -100px;
}



.sec3{
    height: 26.6rem;
    background-color: #B14B43;
    display: flex;
    height: 11.11rem;
    /* background-color: orange; */
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    position: relative;
}
.sec3::before{
    content: '';
    background-image: url('images/hands.jpg');
    height: 11.11rem;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    opacity: 0.3;
    
    
}
.line{
    width: 0px;
    height: 11.11rem;
    
    
    border: 0.05rem solid white;
    opacity: 0.5;
}
.sec1{
    color: white;
    font-weight: 200;
    font-size: large;
    position: relative;
 
}
.sec4{
  
    height: 22.22rem;
     display: flex;
      /* justify-content: space-around; */
     /* align-items: center;  */
    /* background-color: aqua; */
   
 }
.num{

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 50%;
   margin: 1.11rem;
    
   
}
.num2{
    display: flex;
  justify-content: center;  
  flex-direction: column;
}
.num2c{
    align-self: center;
}
.nums{
    width: 8.33rem;
    border: none;   
    height: 5.55rem;
    border:0.05rem solid wheat;
    border-radius: 0.55rem;
    /* font-size: 18px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:0.05rem 0.11rem wheat;
    /* align-items: center; */
   
}
.s1{
    font-size: 1.11rem;
    align-self: center;
    color: #65027F;
}
.s2{
    font-size: 0.66rem;
    padding: 0.55rem;
  
}
.sec5{
    height: 27.77rem;
    display: flex;
   
    
}
.sec5>div>h2{
    margin-left: 10%;
    margin-top: 8%;
}
.inpara1{
    background-color: brown;
    color: white;
    font-size: 0.83rem;
    /* text-align: center; */
    width: 90%;
    height: 8.33rem;
    border-radius: 0 1.66rem 1.66rem 0;
 padding: 0.277rem;
    

}
.inpara1>p{
   margin-left: 2.22;
   /* text-align: center; */
   padding: 5%;
}
.inparaleft{
    /* height: 400px; */
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
    /* align-items: center; */
    
    opacity: 0.8;
}
.inparaleft1{
   height: 8.33rem;
    width: 50%;
    background-color: brown;
    flex-direction: column;
    border-radius: 1.66rem 0 0 1.66rem;
    margin-top: 45%;
    opacity: 1;
   
}
.inparaleft1>img{
    padding-top: 1.38rem;
    padding-left: 2.22rem;
   
  
}


.inparaleft2{
    height: 27.77rem;
     width: 100%;
     background-color: brown;
     border-radius: 1.66rem 0.83rem 0.83rem 1.66rem;
      
 }
  .sec8{
      display: flex;
      height: 22.22rem;
      justify-content: space-between;
      align-items: center;
  }
  .sec81{
      width: 50%;
  }
  .sec82{
      display: flex;
      flex-wrap: wrap;
  }
  .sec82>div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 1.66rem;
  }
  .hub{
      display: flex;
      flex-direction: column;
      background-color: #F8F8F8;
      height: 27.77rem;
  }
  .hubimages{
      display: flex;
      justify-content: space-evenly;
     
  }
  .hovered{
      background-color: #F9A838 ;
      display: flex;
      width: 70%;
      
      /* justify-content: space-around; */
      align-items: center;
     /* margin-left: 200px; */
     justify-content: center;
     margin-left: 15%;
     margin-top: -5%;
     border-radius: 1.11rem;
  }
  .hoveredinside{
   align-self: center;
   width: 50%;
  }
  .footer{
      display: flex;
      justify-content: space-evenly;
  }
  .footer >ul{
      list-style-type: none;
      
  }
  .footer>ul>li{
      padding: 0.27rem;
  }
  .social{
      display: flex;
  }
  .social>li{
      padding: 0.27rem;
  }

 .uil-facebook-f,.uil-instagram-alt,.uil-twitter,.uil-linkedin,.uil-youtube{
     color: #C74C46;
 }
